/* ///////////////////////////// Globals ///////////////////////////// */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}

body {
  animation: loadPage 2.5s ease 1 forwards;
}

@keyframes loadPage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.important-name {
  text-align: center;
  padding-top: 3rem;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-center {
  justify-content: center;
  align-items: center;
}
/* .primary-button,
.secondary-button,
.video-button {
  white-space: pre;
} */

.primary-button {
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #02897a;
}

.secondary-button {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
}

.primary-button,
.secondary-button {
  white-space: pre;
}

.switch-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.switch-button > img:hover {
  transform: rotate(180deg);
}

.margin-buttons-right {
  margin: 0 20px;
}

.primary-button,
.secondary-button {
  transition: 0.5s;
}

.primary-button:hover {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
}

.secondary-button:hover {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #02897a;
}

.active {
  font-weight: bold;
}

.active::after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 2px;
  display: flex;
}

.navbar-link::after {
  content: "";
  display: flex;
  justify-content: center;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

.background {
  background: linear-gradient(
    360deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
  border-radius: 0 0 30% 30%;
}

.background-reverse {
  background: linear-gradient(
    179.59deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );

  border-radius: 30% 30% 0 0;
}

.main-color {
  color: #02897a;
}

.main-background {
  background-color: #02897a;
  color: #fff;
}

/* ////////////////////// Product Section /////////////////////////// */

/*////////////////////// Navbar Section /////////////////////////////// */
.navbar {
  height: 80px;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1.6rem;
  cursor: pointer;
}

.navbar-container {
  width: 100%;
  justify-content: space-between;
}

.navbar-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #173a56;
  cursor: pointer;
}
.navbar-links {
  display: flex;
}

.navbar-links > a {
  line-height: 3rem;
  font-weight: 400;
  color: #22343d;
  padding: 0 1rem;
}

.navbar-links-buttons {
  justify-content: flex-end;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem 0.4rem 0;
  display: none;
}

.navbar-menu-link {
  width: 28px;
  height: 31px;
  cursor: pointer;
}

.menu-collapse {
  position: absolute;
  right: 5rem;
  top: 1.2rem;
  width: 30px;
  height: 30px;
  visibility: hidden;
}

/*/ ////////////////////////////// Main Section ////////////////////////////*/

.main-content-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 555px;
}

.main-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 555px;
}

.main-header {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  color: #22343d;
  margin: 0 0 18px 0;
}

.main-subtitle {
  color: #22343d;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 45px 0;
}

.main-header-container {
  display: flex;
  justify-content: flex-start;
}

.main-image-section {
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2rem;
  pointer-events: none;
}

.video-button {
  color: #02897a;
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 600;
  margin-left: 30px;
  font-size: 16px;
  line-height: 35px;
}

.arrow-right {
  width: 15px;
  height: 15px;
}

.video-button::after {
  content: "";
  width: 0;
  background-color: #02897a;
  display: flex;
  justify-content: center;
  height: 2px;
  transition: width 0.3s;
}

.video-button:hover::after {
  width: 100%;
}

/*///////////////////////// Product Section ///////////////////////// */

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  color: #22343d;
  margin: 4rem 0;
}

.product-examples {
  display: flex;
  flex-direction: row;
}

.product-example {
  width: 25%;
  padding: 0 2rem;
}

.product-example > h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2re;
  margin: 0 0 0.7rem 0;
}

.product-example > p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.product-button {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

/* /////////////////////////////Management Section //////////////////////*/

.management-container {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.management-section {
  color: #22343d;
  margin-bottom: 1rem;
}

.management-col-left,
.management-col-right {
  display: flex;
  width: 50%;
}

.management-col-right {
  justify-content: flex-end;
}

.management-col-left {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.management-section .management-p {
  font-weight: 600;
  line-height: 24px;
}

.management-main-header {
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.management-col-left h3 {
  margin-bottom: 0.7rem;
}

/* ///////////////////////////// Customer Section //////////////////////*/

.customer-container {
  display: flex;
  margin-top: 3rem;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.customer-section {
  color: #22343d;
  margin-bottom: 2rem;
  display: flex;
}

.customer-section img {
  margin: 0 1rem 0 0;
}

.customer-heading {
  display: flex;
  flex-direction: column;
  color: #22343d;
}

.customer-col-left,
.customer-col-right {
  display: flex;
  width: 50%;
}

.customer-col-right {
  justify-content: flex-start;
}

.customer-col-left {
  flex-direction: column;
  justify-content: center;
}

.customer-section .customer-p {
  font-weight: 600;
  line-height: 24px;
}

.customer-main-header {
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.customer-col-left h3 {
  margin-bottom: 0.7rem;
}

/* ////////////////////// Sellers Section /////////////////// */

.sellers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sellers-header {
  text-align: center;
  margin: 2.5rem 0 0rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sellers-header h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #22343d;
  font-weight: 700;
}

.sellers-profiles {
  width: 100%;
  display: grid;
  grid-template-areas:
    "profile-1 profile-2 "
    "profile-3  profile-4 ";
  justify-content: space-evenly;
  align-items: center;
}

.seller-profile {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.seller-profile > p {
  padding: 0 1rem;
}

.seller-profile-1 {
  grid-area: profile-1;
}

.seller-profile-2 {
  grid-area: profile-2;
  flex-direction: row-reverse;
}

.seller-profile-3 {
  grid-area: profile-3;
  flex-direction: row-reverse;
}

.seller-profile-4 {
  grid-area: profile-4;
}

.sellers-button {
  margin: 3rem 0;
}

/* ////////////////////////// Strategies Section /////////////////////// */

.strategies-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.strategies-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.strategies-sections img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.strategies-sections {
  margin: 2rem 2rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(209, 209, 209);
  resize: none;
  color: #22343d;
}

.strategies-sections h3,
.strategies-sections p {
  padding: 0 1.2rem;
  margin: 1.5rem 0;
}

.strategies-header h2 {
  font-size: 2rem;
  color: #22343d;
}

.strategies-header p {
  font-weight: 500;
}

.current-card-heading {
  color: #02897a;
}

/* .strategies-section::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #02897a;
  bottom: 0;
  left: 665.5px;
} */

.page-selected {
  display: flex;
  justify-content: center;
}

.strategies-header {
  color: #22343d;
}

/* ///////////////////////// Price Section //////////////////////////// */

.price-section {
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
  flex-direction: column;
}

.price-header {
  text-align: center;
}

.price-cards {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.price-card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1rem 4rem;
  margin: 2rem 3rem;
}

.price-card-header {
  line-height: 2rem;
}

.price-card-sum {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.price-card-sum-number {
  color: #02897a;
  font-size: 5rem;
  font-weight: 700;
  padding-right: 1rem;
}

.price-card-sum-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.price-sum-dollar {
  font-size: 1.5rem;
  font-weight: 700;
}

.price-sum-month {
  color: #afafaf;
}

.price-card-options p {
  color: #22343d;
  line-height: 22px;
  margin: 0 0 1rem 0;
}

.price-card-button {
  display: flex;
  justify-content: center;
  margin: 1.8rem 0 1rem 0;
}

.price-card-button-middle {
  margin: 1.8rem auto;
}

.price-card-button-middle button {
  color: #02897a;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #02897a;
  transition: 0.5s;
}

.price-card-button button {
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #02897a;
  transition: 0.5s;
}

.price-card-button button:hover {
  background-color: #fff;
  color: #02897a;
}

.price-sum-dollar-white > p {
  color: #fff;
}

.price-sum-month-white {
  color: #e0e0e0;
}

.price-card-options-white p {
  color: #fff;
}

.price-button > button {
  background-color: #fff;
}

/* ////////////////////// Client Opinions Section //////////////////// */

.clients-opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clients-opinion-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.client-opinion-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dedede;
  padding: 2rem 2rem 1rem 2rem;
  margin: 2rem 2rem;
}

.client-profile {
  display: flex;
  flex-direction: row;
}

.clients-header {
  margin: 2rem 0;
  width: 75%;
}

.client-opinion {
  padding: 1rem 0;
  text-align: left;
}

.client-img {
  padding-right: 1rem;
}

.client-opinion {
  text-align: left;
}

/* //////////////////////// Graph Section ////////////////////////////// */

.graph-section {
  background-color: #02897a;
  color: #fff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

.graph-left-col,
.graph-right-col {
  width: 50%;
  padding: 2rem;
}

.graph-left-col {
  font-size: 2rem;
}

.graph-right-col {
  display: flex;
  justify-content: flex-end;
}

.graph-button {
  background-color: #fff;
  color: #02897a;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 3rem;
}

/* ///////////////////////// Footer Section ////////////////////////// */
.footer-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  padding: 2rem 0;
}

.footer-card {
  width: 25%;
}

.footer-header {
  display: flex;
}

.footer-header img {
  margin-right: 1rem;
}

.footer-socials {
  margin: 1rem 0;
}

.footer-socials img {
  cursor: pointer;
}

.footer-section {
  width: 100%;
}

.footer-description {
  line-height: 35px;
  font-weight: 400;
}

.footer-input {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  margin: 1.5rem 0;
}

.footer-input input {
  padding: 1rem 1rem;
  width: 83%;
}

/* ///////////////////// Customers Section //////////////////// */

/* /////////////////////// Business section /////////////////////////// */
.customers-product-business {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.business-header {
  color: #22343d;
  font-weight: 600;
  font-size: 40px;
  line-height: 4rem;
}

.business-subtitle {
  font-size: 1.5rem;
  margin: 2rem 0;
}

/* .business-col-left {
  
} */

.business-col-left,
.business-col-right {
  width: 50%;
}

/* .business-email {
} */

.business-button {
  border-radius: 100px;
}

.business-mail label {
  position: relative;
}

.business-mail input[type="email"] {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  padding: 2rem;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 100px;
  color: #22343d;
}

.business-mail {
  margin: 2rem 0;
}

.business-mail button {
  position: absolute;
  right: 10px;
  top: -12px;
  height: 50px;
}
.img-1 {
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

.business-people {
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.business-photo {
  position: absolute;
}

.business-photo-2 {
  left: 30px;
}

.business-photo-3 {
  left: 60px;
}
.business-people-photo {
  display: flex;
  align-items: center;
  position: relative;
}

.business-info-subtitle {
  font-size: 14px;
  color: #22343d;
  padding-left: 8rem;
}

.business-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.img-2 {
  position: absolute;
  bottom: 90px;
  right: 0px;
}

/* //////////////////////// Clients Section /////////////////////// */
.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

.clients-header-customers {
  text-align: center;
  font-size: 2rem;
  color: #22343d;
}

.our-clients {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.clients-img {
  padding: 0 2rem;
  margin: 2rem 0;
}

/* /////////////////////// What for //////////////////////////////// */

.what-for {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.what-for-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.what-for-description-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.what-for-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding: 0 3rem;
}

.what-for-container {
  margin: 2rem 0;
}

.what-for-img img {
  height: auto;
  width: 100%;
}

.what-for-description-header {
  padding-bottom: 1rem;
}

.what-for-description-header img {
  padding: 0 1.5rem 0 0;
}

.what-for-heading {
  font-size: 1.8rem;
  color: #22343d;
}

.what-for-description-subtitle {
  color: #22343d;
}

.what-for-description-header h3 {
  color: #22343d;
}

/* //////////////////////// Brand Section /////////////////////////// */

.brand-header {
  text-align: center;
  font-size: 2rem;
  color: #22343d;
}

.brand-container {
  display: flex;
  flex-direction: column;
}

.brand-profile {
  display: flex;
  margin: 4rem auto;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #22343d;
}

.brand-text h2 {
  margin: 2rem 0;
}

.brand-text h3 {
  font-weight: 500;
}

.brand-img {
  margin: 0 2rem;
}

.brand-img,
.brand-text {
  width: 50%;
}

.brand-img img {
  max-width: 100%;
  height: auto;
}

.brand-profile-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* /////////////////////// Message Section /////////////////////////// */
.message {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
}

.message-header {
  margin: 2rem 0;
}

.message-header h2 {
  text-align: center;
}

.message-main-header h3 {
  text-align: center;
  margin: 0 0 1.5rem 0;
}

.message-main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 20px;
  width: 60%;
  padding: 1.5rem;
}

.message-main-body input,
.message-main-body label {
  width: 100%;
}

.message-main-body textarea {
  resize: vertical;
  width: 100%;
  background: #f5f5f5;
  padding: 1rem;
}

.message-main-body input {
  border-radius: 39px;
  background: #f5f5f5;
  padding: 1rem;
  margin: 0 0 1.5rem 0;
}

.message-button {
  margin-top: 2rem;
}

.message-button button {
  border-radius: 35px;
}

/*/ ///////////////////// Media queries ////////////////////////////////*/
@media screen and (max-width: 1441px) {
  .footer-cards {
    padding: 0 20px;
  }
  .content-container {
    padding: 0 20px;
  }

  .strategies-header {
    text-align: center;
  }

  .strategies-news {
    justify-content: center;
  }
}

@media screen and (max-width: 1026px) {
  .business-people {
    margin: 2rem 0;
    width: 100%;
    justify-content: center;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-buttons-right {
    flex-direction: column;
  }

  .navbar-buttons-right button {
    margin: 0.5rem 0;
  }

  nav > .menu-collapse:checked ~ .navbar-container > .navbar-links-buttons {
    display: flex;
    z-index: 100;
  }

  .navbar-container > .navbar-links-buttons {
    box-shadow: 3px 2px 3px rgb(0 0 0 / 25%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links-buttons {
    display: none;
    position: absolute;
    top: 120px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
  }

  .navbar-links {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-menu {
    display: flex;
  }
  .main-image-section > img {
    width: 25rem;
  }

  .management-col-right img {
    width: 20rem;
    align-items: center;
    margin-bottom: 3rem;
  }

  .customer-col-right img {
    width: 20rem;
    align-items: center;
    margin-bottom: 3rem;
  }

  .clients-opinion-cards {
    flex-direction: column;
  }

  .graph-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .graph-left-col,
  .graph-right-col {
    width: 100%;
    justify-content: center;
  }

  .graph-right-col {
    padding: 0;
  }

  .customers-product-business {
    flex-direction: column;
  }

  .business-col-left,
  .business-col-right {
    width: 100%;
    text-align: center;
  }
  .brand-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brand-text {
    margin: 2rem 0;
  }

  .brand-text,
  .brand-img {
    width: 100%;
  }
  .brand-profile {
    margin: 1rem auto;
  }
  .brand-header {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 769px) {
  .navbar-menu {
    justify-content: flex-end;
  }
  .navbar-links-buttons {
    flex-direction: column;
    width: 100%;
  }
  /* .navbar-links {
  
  } */
  .main-content {
    flex-direction: column-reverse;

    align-items: center;
  }
  .main-content-left,
  .main-content-right {
    width: 100%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-align: center;
  }

  .main-header-container {
    display: block;
  }

  .product-examples {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  .product-example {
    padding: 1rem 0;
    width: 50%;
  }

  .management-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .management-col-left,
  .management-col-right {
    width: 100%;
  }

  .management-col-left {
    align-items: flex-start;
  }

  .management-col-right {
    justify-content: center;
  }

  .management-col-right > img {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /*  */
  .customer-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .customer-col-left,
  .customer-col-right {
    width: 100%;
  }

  .customer-col-right {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .customer-col-right > img {
    justify-content: center;
    align-items: center;
  }

  .sellers-profiles {
    grid-template-areas:
      "profile-1"
      "profile-2"
      "profile-4"
      "profile-3";
  }

  .page-selected {
    display: none;
  }

  .footer-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-header {
    text-align: center;
    justify-content: center;
  }

  .footer-card {
    margin-top: 1.5rem;
    width: 100%;
  }
  .what-for-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .what-for-description {
    width: 100%;
    padding: 0;
  }
  .what-for-heading {
    text-align: center;
  }
  .what-for-description-subtitle {
    margin: 0 0 1.5rem 0;
  }
  .what-for-img img {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 720px) {
  .product-examples {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-image-section > img {
    width: 20rem;
  }
  .management-col-right {
    justify-content: center;
  }

  .message-main {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .img-1 {
    display: none;
  }
  .img-2 {
    position: initial;
    margin: 4rem auto;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 426px) {
  .graph-right-col img {
    width: 300px;
  }

  .graph-left-col {
    padding: 1.5rem;
    font-size: 1rem;
  }
  .business-mail input[type="email"] {
    width: 280px;
  }
  .business-header {
    font-size: 25px;
  }
  .business-subtitle {
    font-size: 1rem;
  }
}
